html {
	font-size: 62.5%;
}
body, nav {
	font-family: Calibri, Arial, Helvetica, "Microsoft JhengHei", 微軟正黑體, sans-serif;
    background-image: url("../images/sky.jpg");
    background-repeat: repeat-x;
}
.container {
	position: absolute;
	background-color: rgba(255,255,255,0.5);
}
#object-container {
    overflow: hidden;
}
#object-progress-bar {
    overflow-x: scroll;
    overflow-y: hidden;
}
#x-axis {
    background-image: url("../images/grass.jpg");
    background-repeat: repeat-x;
    background-size: 100%;
}
.object {
	position: absolute;
	border-radius: 15px 15px 0px 0px;
	border: 1px dashed rgb(200, 200, 200);
}
.object:hover {
	border: 2px solid rgb(200,200,200);
	border-radius: 15px 15px 0px 0px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
}
.control {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 2rem;
	background-color: rgb(220,220,220);
	color: gray;
}
#object-name-lable {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    display: none;
}
.object-name {
    display: none;
}
.object-description {
    display: none;
}
.object-image.disable {
    display: none;
}
.object-image.active {
    display: block;
}
.object-delete, .object-change, .object-left, .object-right {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: gray;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}
.object-mark {
    position: absolute;
    width: 17px;
    display: none;
}
#obj-selector, #cat-selector {
    position: absolute;
    z-index: 10;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
span.cat-option, span.obj-option {
    cursor: pointer;
}